@model Jobi.Web.Models.SavePDFCandidateCVDTO;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Name</title>

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css" asp-append-version="true">
    <link href="~/assets/css/animate.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/poppins.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/cv-builder/css/cv-builder.css">
    <link rel="stylesheet" href="~/lib/fontawesome-pro-6.4.0/css/all.min.css">

    <style>
        body {
            padding: 0;
            margin: 0;
        }

        @Html.Raw(Model.AdditionalCSS)
    </style>
</head>
<body>
    @Html.Raw(Model.Content)
</body>
</html>