<link href="~/assets/css/pages/_filter-find-job.css" rel="stylesheet" asp-append-version="true" />
<section class="jbi-section mt--100">
    <div class="">
        <div class="pxp-container position-relative">
            <div class="pxp-hero-opacity " style="border-radius: 20px"></div>
            <div class="row justify-content-center m-0" style=" background: url('assets/images/we-are-hiring-digital-collage 1.png') no-repeat;background-position: 50% 50%; background-size: cover; border-radius: 20px; padding: 50px 41px 50px 41px; " id="section-top">
                <div class="col-md-12 col-lg-6 col-sm-12 p-0 pe-3" style="z-index: 1">
                    <div class="col-12">
                        <h2 class="text-white text-center mb-0 text-uppercase">Việc làm trên toàn quốc</h2>
                        <div class="sc-209a5dd6-1 fneEnk">
                            <div class="sc-209a5dd6-2 gVfCNA">
                                <div class="sc-209a5dd6-3 gKeUGU">
                                    <div class="SearchBar-module_searchBarWrappper__6bsv2   ">
                                        <div id="searchMenuBar" class="SearchBar-module_searchBar__MO_5k">
                                            <div class="SearchBar-module_topSection__orQnX justify-content-center">
                                                <div class="w-100 pxp-hero-form pxp-hero-form-round">
                                                    <form class="row gx-3 align-items-center flex-nowrap">
                                                        <div class="ps-0 col-lg col-md col-sm col-4">
                                                            <div class="input-group">
                                                                <span class="input-group-text"><span class="fa fa-search"></span></span>
                                                                <input type="text" class="form-control" id="keyword" placeholder="Tin tuyển dụng, từ khóa">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg col-md col-sm pxp-has-left-border  col-4">
                                                            <div class="input-group  mb-lg-0 flex-nowrap">
                                                                <span class="input-group-text"><span class="fa fa-map-marker"></span></span>
                                                                <select class="form-control" id="location"></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-auto col-md-auto col-sm-auto col-4">
                                                            <button class="" id="search-home-page">Tìm kiếm</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pxp-hero-subtitle text-white text-center mt-2 mt-lg-3">Tìm kiếm cơ hội nghề nghiệp thông qua <strong>@ViewBag.CountJob</strong> việc làm</div>
                    </div>
                    <div class="pxp_slide col-12 slide-carousel mt-3">
                        <div class="slide_content owl-carousel owl-theme position-relative">
                        </div>
                    </div>

                </div>
                <div class=" col-md-12 col-lg-6 col-sm-12 d-lg-flex d-xl-flex d-none pe-0" style="z-index: 1;">
                    <div class="col-12 position-relative">
                        <iframe class="device-16-9 position-absolute bottom-0" id="social_ytb_video" frameborder="0" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/assets/js/pages/_filter-find-job.js" asp-append-version="true"></script>