@charset "UTF-8";
/*
    Author: TUNGTD
    Created: 15/08/2023
    Description: candidate stylesheet
*/
#table_candidate thead:nth-child(1){
    white-space: nowrap;
    align-items: start;
}
#table_candidate tbody{
    white-space: nowrap;
    align-items: start;
}
.candidate_recruitment_campaign {
    font-size: 14px;
}
.candidate_recruitment_campaign {
    white-space: normal;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--pxpTextColor);
}
.candidate_recruitment_campaign:hover{
    text-decoration:underline;
}
.candidate_contact {
    font-size: 13px;
}
    .candidate_contact .item {
        color: var(--pxpTextColor);
    }
.candidate_more {
    font-size: 13px;
    white-space: normal;
}
.btn_icon {
    background-color: var(--pxpMainColorLight);
    border: 0 none;
    border-radius: 5px;
    font-size: 14px;
    color: var(--pxpMainColorDark);
    text-align: center;
    transition: var(--pxpHoverTransition);
    transition-property: background-color, color;
}
    .btn_icon:hover {
        color: #fff;
        background-color: var(--pxpMainColor);
    }

.btn_icon.dropdown-toggle::after {
    display: none;
}
.candidate_action .dropdown-menu {
    border: none;
    font-size: 13px;
        }
#table_candidate .pxp-company-dashboard-candidate-avatar {
    width: 60px;
    height: 60px;
    margin-right: 5px;
}
.column-avatar{
    width: 40px!important;
    max-width: 50px;
}
.tbl-data .table-responsive{
    overflow-x: unset!important;
}
#table_candidate thead tr th:nth-child(1),
#table_candidate tbody tr td:nth-child(1),
#table_candidate tfoot tr th:nth-child(1) {
    width: 3%;
}
#table_candidate thead tr th:nth-last-child(2),
#table_candidate tbody tr td:nth-last-child(2),
#table_candidate tfoot tr th:nth-last-child(2) {
    width:150px;
    max-width: 10%;
}
#table_candidate_length{
    display: none;
}
.dataTables_paginate {
   display: none;
}
.btn_icon i{
    width: 14px;
}
#table_candidate thead:nth-child(2){
    vertical-align: middle;
}
#table_candidate .select2-container {
    width: auto!important;
}
div.dataTables_wrapper div.dataTables_info {
    display: none;
}
