<style>
    .custom-button {
        width: 250px; /* Đặt chiều rộng cụ thể */
        margin: 0 auto; /* Căn giữa nút */
        display: block; /* Để margin hoạt động với thẻ <a> */
    }
    .skeleton-post{
        height : 612px !important;
    }
</style>
<section class="pt-100 pb-100 jbi-section">
    <div class="pxp-container">
        <div class="jbi-h2 text-uppercase text-center">Cẩm nang tìm việc</div>

        <div class="row mt-5 pxp-animate-in pxp-animate-in-top" id="list-post" style="
    gap: 40px 0px;
">
            @for(int i = 0; i< 4; i++)
            {
                <div class="col-md-6 col-xl-4 col-xxl-3 pxp-posts-card-1-container">
                    <div class="pxp-posts-card-1  skeleton skeleton-post">
                    </div>
                </div>
            }

        </div>

        <div class="row mt-5 text-center pxp-animate-in pxp-animate-in-top">
            <a href="/danh-sach-bai-viet" class="btn rounded-pill pxp-section-cta custom-button">XEM THÊM</a>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        loadDataPost();
    })
    function loadDataPost() {
        $.ajax({
            url: "/list-post",
            type: "GET",
            contentType: "application/json",
            success: function (responseData) {
                $("#list-post").html(responseData);
            },
            error: function (e) {

            },
        })
    }

</script>