<style>
    .row {
        opacity: revert !important;
    }

    .custom-button {
        width: 295px; /* Đặt chiều rộng cụ thể */
        margin: 0 auto; /* Căn giữa nút */
        display: block; /* Để margin hoạt động với thẻ <a> */
    }
</style>
<section class="mt-100 d-none">
    <div class="pxp-container">
        <h2 class="pxp-section-h2 text-center">Danh mục việc làm</h2>
        <p class="pxp-text-light text-center">Tìm kiếm cơ hội nghề nghiệp của bạn với các danh mục của chúng tôi</p>

        <div class="row mt-4 mt-md-5 pxp-animate-in pxp-animate-in-top" id="list-job-category">
            
        </div>

        <div class="row mt-4 mt-md-5 text-center pxp-animate-in pxp-animate-in-top">
            <a href="@Url.Action("AllSearchByCategory", "home")" class="btn rounded-pill pxp-section-cta custom-button">Xem tất cả<span class="fa fa-angle-right"></span></a>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        loadDataJobCategory();
    })
    function loadDataJobCategory() {
        $.ajax({
            url: "/list-job-category",
            type: "GET",
            contentType: "application/json",
            success: function (responseData) {
                //console.log(responseData)
                $("#list-job-category").html(responseData);
            },
            error: function (e) {

            },
        })
    }

</script>
