<section class="mt-100">
    <div class="pxp-container">
        <div class="pxp-promo-img pxp-cover pt-100 pb-100 pxp-animate-in pxp-animate-in-top" style="background-image: url(assets/images/promo-img-bg.jpg);">
            <div class="row">
                <div class="col-sm-7 col-lg-5">
                    <h2 class="pxp-section-h2">See right away whether candidates are the right fit</h2>
                    <p class="pxp-text-light">We help candidates know whether they’re qualified for a job – and allow you to see their match potential – giving you a better pool of qualified candidates to choose from.</p>
                    <div class="mt-4 mt-md-5">
                        <a href="jobs-list-1.html" class="btn rounded-pill pxp-section-cta">All Job Offers<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
