<style>
    .pxp-contain{
        background-size: contain !important;
    }
    .pxp-min-height-750{
        min-height: 750px;
    }
    .pxp-bg-no-repeat{
        background-repeat: no-repeat;
    }

    }
</style>

<section class="mt-100  position-relative" style="background-image: url('assets/images/we-are-hiring-digital-collage 4.png');min-height: 626px; background-size: cover;">
    <div class="pxp-hero-opacity"></div>
    <div class="pxp-hero-caption">
        <div class="pt-5 pt-lg-0 jbi-h2 text-center text-white">Dịch vụ của chúng tôi</div>
        <div class="container-md px-5 d-block d-lg-flex flex-row justify-content-between">
            <div class="d-flex flex-column pt-5">
                <div class="jbi-card-4 mb--40 d-flex flex-row">
                    <img class="me-3" src="~/assets/images/our-profile.svg" />
                    <div class="d-flex flex-column">
                        <div class="jbi-card-title-2 mb-2">
                            Tạo CV tự động
                        </div>
                        <div>
                            <a class="btn-warning-3" href="#!">Khám phá ngay</a>
                        </div>
                    </div>
                </div>
                <div class="jbi-card-4 mb--40 d-flex flex-row">
                    <img class="me-3" src="~/assets/images/our-profile.svg" />
                    <div class="d-flex flex-column">
                        <div class="jbi-card-title-2 mb-2">
                            Tạo CV tự động
                        </div>
                        <div>
                            <a class="btn-warning-3" href="#!">Khám phá ngay</a>
                        </div>
                    </div>
                </div>
                <div class="jbi-card-4 mb--40 d-flex flex-row">
                    <img class="me-3" src="~/assets/images/our-profile.svg" />
                    <div class="d-flex flex-column">
                        <div class="jbi-card-title-2 mb-2">
                            Tạo CV tự động
                        </div>
                        <div>
                            <a class="btn-warning-3" href="#!">Khám phá ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <img class="" src="~/assets/images/our-service.svg" style="margin-bottom:-20px;width: 100%" />
            </div>
            <div class="d-flex flex-column pt-5">
                <div class="jbi-card-4 mb--40 d-flex flex-row">
                    <img class="me-3" src="~/assets/images/our-profile.svg" />
                    <div class="d-flex flex-column">
                        <div class="jbi-card-title-2 mb-2">
                            Tạo CV tự động
                        </div>
                        <div>
                            <a class="btn-warning-3" href="#!">Khám phá ngay</a>
                        </div>
                    </div>
                </div>
                <div class="jbi-card-4 mb--40 d-flex flex-row">
                    <img class="me-3" src="~/assets/images/our-profile.svg" />
                    <div class="d-flex flex-column">
                        <div class="jbi-card-title-2 mb-2">
                            Tạo CV tự động
                        </div>
                        <div>
                            <a class="btn-warning-3" href="#!">Khám phá ngay</a>
                        </div>
                    </div>
                </div>
                <div class="jbi-card-4 mb--40 d-flex flex-row">
                    <img class="me-3" src="~/assets/images/our-profile.svg" />
                    <div class="d-flex flex-column">
                        <div class="jbi-card-title-2 mb-2">
                            Tạo CV tự động
                        </div>
                        <div>
                            <a class="btn-warning-3" href="#!">Khám phá ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>