@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .header-cart{
        color: black;
    }

    .badge-circle{
        background-color: red !important;
        border-radius: 50px !important;
        padding: 2px 5px !important; 
    }
    
</style>
<a href="/gio-hang" class="header-cart position-relative me-4 ms-3">
    <span class="fa-solid fa-cart-shopping"></span>
    <span class="position-absolute top-0 start-100 translate-middle  badge badge-circle badge-primary" id="count-service-package">0</span>
</a>
