<style>
    li.read span{
        font-weight : 300; 
    }

    li.unRead span {
        font-weight: 600;
    }
</style>
<div class="dropdown pxp-user-nav-dropdown pxp-user-notifications" id="noti_side_menu">
    <a role="button" class="dropdown-toggle" data-bs-toggle="dropdown">
        <span class="fa fa-bell"></span>
        <div class="pxp-user-notifications-counter rbt-notification-count"></div>
    </a>
    <ul style="padding: 10px 10px 0;" class="dropdown-menu dropdown-menu-end noti_body">
        
    </ul>
</div>