
@{
    ViewBag.Title = "Phân quyền vai trò";
}
@section Headers{
    <link rel="stylesheet" href="~/assets/css/pages/role-permission.css" asp-append-version="true"/>
}
<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Phân quyền vai trò</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="@Url.Action("Index","Home")" class="text-muted text-hover-primary">Trang chủ</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">Quản lý QTV</li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">Phân quyền vai trò</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container  container-fluid ">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0 pt-6">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <!--begin::Search-->
                            <div class="d-flex align-items-center position-relative my-1 d-none">
                                <span class="svg-icon svg-icon-1 fs-3 position-absolute ms-5 di-duotone di-search"><span class="path1"></span><span class="path2"></span></span>
                                <input type="text" id="table_search_all" data-course-type="search" class="form-control form-control-solid w-250px ps-13" placeholder="Tìm kiếm" />
                            </div>
                            <!--end::Search-->
                        </div>
                        <div class="card-toolbar">
                            <!--begin::Toolbar-->
                            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                                <button type="button" class="btn btn-primary" id="btn_submit">
                                    <i class="di-duotone di-gen055 svg-icon svg-icon-1 fs-3 m-0"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i> Cập nhật
                                </button>
                            </div>
                            <!--end::Toolbar-->
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="tbl_role_permission" class="table table-row-bordered align-middle table-hover">
                            <thead>
                                <tr class="fw-semibold fs-6 text-muted text-uppercase">
                                    <th class="column_index"></th>
                                    <th class="column_index text-center">STT</th>
                                    <th>Phân Quyền</th>
                                </tr>
                            </thead>
                            <thead>
                                <tr class="fw-semibold fs-6 text-muted text-uppercase">
                                    <th></th>
                                    <th></th>
                                    <th>
                                        <input id="searchPermission" class="form-control tbl_fillter"/>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-gray-600 fw-semibold">
                            </tbody>
                            <tfoot>
                                <tr class="fw-semibold fs-6 text-muted text-uppercase">
                                    <th></th>
                                    <th class="column_index text-center">STT</th>
                                    <th>Chức năng</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Content-->
@section Scripts{
    <script src="~/assets/js/pages/role-permission.js" asp-append-version="true"></script>
}