/*
    Author: TUNGTD
    Created: 19/09/2023
    Description: Fillter find job stylesheet
*/
@charset "UTF-8";
.select2-selection {
    border: unset !important;
}

.kWAWkq {
    padding: 24px 0px 40px;
    background: linear-gradient(270deg, rgb(0, 90, 255) 0%, rgb(0, 23, 68) 100%);
    color: rgb(255, 255, 255);
}

.gVfCNA {
    position: relative;
    height: 80px;
}

.gKeUGU {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.SearchBar-module_background__3Tz6r.SearchBar-module_isFocus__3DljF {
    opacity: 1;
    pointer-events: auto;
}

.SearchBar-module_background__3Tz6r {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0,0,0,.5);
    transition: .25s ease-in-out;
}

.SearchBar-module_searchBarWrappper__6bsv2 {
    position: relative;
    z-index: 10;
}

.gKeUGU div[class*="SearchBar-module_searchBarWrappper"] > div {
    background-color: rgba(0, 0, 0, 0);
}

.gKeUGU div[class*="SearchBar-module_mainTagLine__"] {
    display: none;
}

.SearchBar-module_searchBarWrappper__6bsv2 .SearchBar-module_mainTagLine__35BI8 {
    color: #fff;
    line-height: 43px;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 4px;
}

.gKeUGU div[class*="SearchBar-module_searchBarWrappper"] div[class*="SearchBar-module_isFocus__"] {
    background-color: rgb(255, 255, 255);
}


.gKeUGU div[class*="SearchBar-module_searchBar__"] {
    border-radius: 12px;
}

.SearchBar-module_searchBar__MO_5k.SearchBar-module_isFocusDropdown__3EkUF, .SearchBar-module_searchBar__MO_5k.SearchBar-module_isFocus__3DljF {
    background-color: #fff;
}

.SearchBar-module_searchBar__MO_5k {
    background-color: rgba(0,0,0,.4);
    border-radius: 4px;
    padding: 20px 0px;
    display: block;
    transition: all .25s ease-in-out;
}

    .SearchBar-module_searchBar__MO_5k .SearchBar-module_topSection__orQnX {
        display: flex;
    }

    .SearchBar-module_searchBar__MO_5k.SearchBar-module_isFocusDropdown__3EkUF .SearchBar-module_inputGroup__fZxVS, .SearchBar-module_searchBar__MO_5k.SearchBar-module_isFocusDropdown__3EkUF .class-input-recommend, .SearchBar-module_searchBar__MO_5k.SearchBar-module_isFocus__3DljF .SearchBar-module_inputGroup__fZxVS, .SearchBar-module_searchBar__MO_5k.SearchBar-module_isFocus__3DljF .class-input-recommend {
        background-color: #f4f4f7 !important;
    }

    .SearchBar-module_searchBar__MO_5k .SearchBar-module_inputGroup__fZxVS {
        display: inline-flex;
        width: 87%;
        background-color: #fff;
        border-radius: 4px;
        transition: .25s ease-in-out;
    }

        .SearchBar-module_searchBar__MO_5k .SearchBar-module_inputGroup__fZxVS .SearchBar-module_inputField__3Jvg8 {
            width: 62%;
            display: flex;
        }

            .SearchBar-module_searchBar__MO_5k .SearchBar-module_inputGroup__fZxVS .SearchBar-module_inputField__3Jvg8 .SearchBar-module_iconSearch__1J8Rr {
                display: inline-flex;
                align-content: center;
                justify-content: center;
                align-items: center;
                padding-left: 8px;
            }

            .SearchBar-module_searchBar__MO_5k .SearchBar-module_inputGroup__fZxVS .SearchBar-module_inputField__3Jvg8 > div:nth-child(2) {
                width: 100%;
            }

.bunvLa {
    position: relative
}

.SearchBar-module_searchBar__MO_5k .SearchBar-module_inputGroup__fZxVS .SearchBar-module_inputField__3Jvg8 .class-input-recommend {
    border: none;
    background-color: #fff;
    font-size: 14px;
    height: 48px;
    font-weight: 500;
    box-shadow: none;
}

.SearchBar-module_searchBar__MO_5k .SearchBar-module_inputGroup__fZxVS .SearchBar-module_selectField__39gBq {
    width: 38%;
    display: flex;
    align-items: center;
}

.koeuGj {
    position: relative;
    width: 100%
}

.gXHsmz {
    border-radius: 6px;
    padding: 3px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 40px;
    cursor: pointer;
    color: rgb(153, 153, 153);
    background-color: transparent;
    border: 1px solid transparent
}

.frAxjH {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.gmPqdV:first-child {
    margin-left: 0px;
}

.gmPqdV {
    background-color: rgb(230, 239, 255);
    border: 1px solid rgb(179, 206, 255);
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    margin-left: 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    transition: all 0.25s ease 0s;
    animation: 0.25s ease-in-out 0s 1 normal none running cJoqxJ;
}

.geRmuW {
    pointer-events: none;
    margin-left: 6px;
    right: 10px;
    opacity: 0;
    transition: all 0.25s ease 0s;
    position: absolute;
    display: inline-flex;
}

.SearchBar-module_searchBar__MO_5k .SearchBar-module_actionGroup__1oWMt {
    display: inline-flex;
    width: 13%;
    padding-left: 8px;
}

    .SearchBar-module_searchBar__MO_5k .SearchBar-module_actionGroup__1oWMt > button {
        width: 100%;
        height: 48px;
        font-size: 14px
    }

.iYzYqc.clickable {
    cursor: pointer;
}

.SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr.SearchBar-module_visible__3sF5E {
    max-height: 350px;
    opacity: 1;
}

.SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .25s ease-in-out;
}

    .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_topInfo__TYO3Y {
        margin-top: 10px;
    }

        .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_topInfo__TYO3Y a {
            color: #005aff;
            line-height: 36px;
            font-size: 14px;
            display: inline-flex;
            align-content: center;
            align-items: center;
            text-decoration: none;
            text-decoration: initial;
            margin-bottom: 4px;
            cursor: pointer;
        }

            .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_topInfo__TYO3Y a .SearchBar-module_companyImg__2rb8O {
                display: inline-block;
                width: 60px;
                height: 35px;
                background-size: contain;
                background-position: 50%;
                background-repeat: no-repeat;
                margin-left: 8px;
            }

    .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK {
        display: flex;
    }

        .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_leftRecentList__3dmRy, .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_rightPopularKeyword__tZ_xH {
            width: 50%
        }

        .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_leftRecentList__3dmRy {
            position: relative;
        }

            .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_leftRecentList__3dmRy > span.SearchBar-module_recentListTitle__1Mvar, .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_rightPopularKeyword__tZ_xH > span.SearchBar-module_recentListTitle__1Mvar {
                word-wrap: break-word;
                padding-right: 40px;
                display: inline-block;
                width: 100%;
            }

            .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_leftRecentList__3dmRy > span, .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_rightPopularKeyword__tZ_xH > span {
                color: #333;
                font-size: 14px;
                font-weight: 600;
            }

            .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_leftRecentList__3dmRy > ul.SearchBar-module_suggestionKeyword__2ieq1, .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_rightPopularKeyword__tZ_xH > ul.SearchBar-module_suggestionKeyword__2ieq1 {
                position: relative;
            }

            .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_leftRecentList__3dmRy > ul, .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_rightPopularKeyword__tZ_xH > ul {
                margin: 6px 0 0;
                padding-left: 0;
                list-style: none;
            }

                .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_leftRecentList__3dmRy > ul li.SearchBar-module_recentItem__39gbG, .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_rightPopularKeyword__tZ_xH > ul li.SearchBar-module_recentItem__39gbG {
                    display: flex;
                    justify-content: space-between;
                    margin-right: 40px;
                    padding: 2px 0;
                    cursor: pointer
                }

                .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_leftRecentList__3dmRy > ul li, .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_rightPopularKeyword__tZ_xH > ul li {
                    display: flex;
                    align-content: center;
                    align-items: center;
                    line-height: 32px;
                    white-space: break-spaces;
                    justify-content: space-between;
                }

                    .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_leftRecentList__3dmRy > ul li.SearchBar-module_recentItem__39gbG > a {
                        flex: 1 0;
                    }

                    .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_leftRecentList__3dmRy > ul li.SearchBar-module_recentItem__39gbG a, .SearchBar-module_searchBar__MO_5k .SearchBar-module_bottomSection__2cTXr .SearchBar-module_midList__1gbDK .SearchBar-module_rightPopularKeyword__tZ_xH > ul li.SearchBar-module_recentItem__39gbG a
                    .background {
                        opacity: 0;
                        pointer-events: none;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        z-index: 1;
                        background-color: rgba(0, 0, 0, 0.5);
                        transition: 0.25s ease-in-out;
                    }

.background.isFocus {
    opacity: 1;
    pointer-events: initial;
}
.btn-close{
    width: unset;
    height: unset;
}
.SearchBar-module_clearAll__2AMD4 {
    color: #005aff!important;
    cursor: pointer;
    position: absolute;
    right: 15px;
}
    .SearchBar-module_clearAll__2AMD4:hover {
        color: #002745!important;
    }
.suggest_job{
    display: flex;
}
.suggest_job .company_photo {
    display: block;
    min-width: 60px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
    .suggest_job .job_name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        line-height: 32px;
        color: black;
    }
        .suggest_job .job_name:hover {
            color: #005aff !important;
        }

#searchItem b{
    font-weight: 600;
}
.slide-carousel .owl-carousel .owl-item img {
    width: 100% !important;
    object-fit: cover;
    margin: auto;
    border-radius: 20px !important;
}

.slide-carousel .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffffff;
}
.slide-carousel .owl-theme .owl-dots .owl-dot span {
    background: #c5c5c5;
}

.SearchBar-module_topSection__orQnX .pxp-hero-form-round form button {
    width: unset;
}

@media (max-width: 575px) {

    #searchMenuBar .pxp-hero-form-round {
        height: unset;
        padding: unset;
    }

}
#social_ytb_video{
    border-radius: 20px;
}
.pxp_slide {
    min-height: 100px;
}
.slide_content{
    border-radius: 20px;
    overflow: hidden;
}
    .slide_content .owl-item {
        border-radius: 20px;
    }
.slide_content .owl-dots {
    margin-top: -10px!important;
}