/**
    Author: TUNGTD
    Created: 10/08/2023
    Description: login page style sheet
*/
@charset "UTF-8";
body {
    min-height: 100vh !important;
}

body {
    background-image: url('/assets/media/auth/bg4.jpg');
    background-size: cover;
}

[data-bs-theme="dark"] body {
    background-image: url('/metronic8/demo1/assets/media/auth/bg4-dark.jpg');
}
body{
    height: 100vh !important;
}
.swal2-popup .swal2-html-container, .swal2-popup .swal2-content {
    margin-top: 0px;
}