@{
    Layout = "_LayoutFindCV";
    ViewBag.Title = "Chi tiết CV ứng viên";
}
<style>
    .list-cv li {
        list-style-type: none;
    }

        .list-cv li a {
            /*background: white;*/
            border-radius: 5px;
            margin-bottom: 10px;
            color: black;
            font-weight: 500;
        }

            .list-cv li a:hover {
                cursor: pointer;
                background: blue;
                color: white;
            }

    .cv-active {
        background: blue !important;
        color: white !important;
    }

    #pdfContainer {
        width: 100%;
        height: 95vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .card-info-cv{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background: white;
        border-radius: 10px;
    }

    .o-hidden{
        overflow:hidden;
    }
    .btn-contact{
        background: #19875421;
        border-radius: 50px;
    }
</style>
<div class="card-info-cv">

    <div class="row mt-4">
        <div class="col-3">
            <ul class="list-cv">
                @*<li class="pxp-text-right"><a class="nav-link">Thông tin cá nhân</a></li>
                <li class="pxp-text-right"><a class="nav-link">CV 1</a></li>
                <li class="pxp-text-right"><a class="nav-link">CV 2</a></li>*@
            </ul>
        </div>
        <div class="col-6">
            
            <div id="pdfContainer"></div>


        </div>
        <div class="col-3 candidate-info">

            
        </div>
    </div>

</div>
@section Scripts{
    <script>
        var candidateID = @ViewBag.CandidateCVID;
    </script>
    <script src="~/js/pages/detail-candidate-find-cv.js" asp-append-version="true"></script>
}