@{
    Layout = null;
}

<!doctype html>
<html lang="en" class="pxp-root">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BestCV - Không có quyền</title>

    <link rel="shortcut icon" href="~/images/logo-title.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/poppins.css" />
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Select2 CSS -->
    <link href="~/css/select2.min.css" rel="stylesheet" />

    <!-- jQuery JS -->
    <script src="~/js/jquery-3.4.1.min.js"></script>

    <!-- Sweet Alert -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
    <div class="pxp-preloader"><span>Loading...</span></div>

    <header class="pxp-header fixed-top">
        <div class="pxp-container">
            <div class="pxp-header-container">
                <div class="pxp-logo">
                    <a href="index.html" class="pxp-animate"><span style="color: var(--pxpMainColor)">j</span>obster</a>
                </div>

                @*<nav class="pxp-user-nav pxp-on-light d-none d-sm-flex">
                <a href="company-dashboard-new-job.html" class="btn rounded-pill pxp-nav-btn">Đăng tin tuyển dụng</a>
                <a class="btn rounded-pill pxp-user-nav-trigger pxp-on-light" href="javascript:void(0)" role="button">Đăng nhập</a>
                </nav>*@
            </div>
        </div>
    </header>

    <section class="mt-100 pxp-no-hero">
        <div class="pxp-container">
            <h2 class="pxp-section-h2 text-center">Bạn không có quyền sử dụng tính năng này</h2>
            <p class="pxp-text-light text-center">Vui lòng sử dụng các tính năng trong vai trò của bạn</p>

            <div class="pxp-404-fig text-center mt-4 mt-lg-5">
                <img src="~/images/404.png" alt="Page not found">
            </div>

            <div class="mt-4 mt-lg-5 text-center">
                <a href="@Url.Action("SignIn","Account")" class="btn rounded-pill pxp-section-cta">Đăng nhập<span class="fa fa-angle-right"></span></a>
            </div>
        </div>
    </section>

    <footer class="pxp-main-footer">
        <div class="pxp-main-footer-top pt-100 pb-100" style="background-color: var(--pxpMainColorLight);">
            <div class="pxp-container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5 col-xxl-4 mb-4">
                        <div class="pxp-footer-logo">
                            <a href="index.html" class="pxp-animate"><span style="color: var(--pxpMainColor)">j</span>obster</a>
                        </div>
                        <div class="pxp-footer-section mt-3 mt-md-4">
                            <h3>Call us</h3>
                            <div class="pxp-footer-phone">(123) 456-7890</div>
                        </div>
                        <div class="mt-3 mt-md-4 pxp-footer-section">
                            <div class="pxp-footer-text">
                                90 Fifth Avenue, 3rd Floor<br>
                                San Francisco, CA 1980<br>
                                office@jobster.com
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7 col-xxl-8">
                        <div class="row">
                            <div class="col-md-6 col-xl-6 col-xxl-6 mb-4">
                                <div class="pxp-footer-section">
                                    <h3>About Us</h3>
                                    <ul class="pxp-footer-list">
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="blog-list-1.html">Blog</a></li>
                                        <li><a href="blog-list-1.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-6 col-xxl-6 mb-4">
                                <div class="pxp-footer-section">
                                    <h3>Helpful Resources</h3>
                                    <ul class="pxp-footer-list">
                                        <li><a href="faqs.html">FAQs</a></li>
                                        <li><a href="sign-in.html">Sign In</a></li>
                                        <li><a href="sign-up.html">Sign Up</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pxp-main-footer-bottom" style="background-color: var(--pxpSecondaryColor);">
            <div class="pxp-container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-auto">
                        <div class="pxp-footer-copyright pxp-text-light">© @DateTime.Now.Year Jobster. All Right Reserved.</div>
                    </div>
                    <div class="col-lg-auto">
                        <div class="pxp-footer-social mt-3 mt-lg-0">
                            <ul class="list-unstyled">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>




    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/nav.js"></script>
    <script src="~/js/Chart.min.js"></script>
    <script src="~/js/main.js"></script>

    <!-- Moment -->
    <script src="~/js/moment-with-locales.js"></script>
    <script>
        moment.locale("vi");
    </script>

    <!--Select2-->
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/select2_language_vi.js"></script>
    <script>
        $.fn.select2.defaults.set('language', 'vi');
    </script>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>

    <!-- Confetti -->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
</body>
</html>