@{
    Layout = "_LayoutEmployer";
    ViewBag.Title = "Quản lý tin tuyển dụng";
}
@section Headers{
    <link href="~/css/pages/job.css" rel="stylesheet" asp-append-version="true"/>
}
<style>

</style>

<div class="pxp-dashboard-content-details">
    <h1>Quản lý tin tuyển dụng</h1>
    <div class="mt-2 mt-lg-3">
        <div class="row justify-content-between align-content-center">
            <div class="col-auto order-2 order-sm-1">
                <ul class="nav nav-pills pxp-company-dashboard-jobs-bulk-actions" id="pills-status" role="tablist">
                    <li class="nav-item" >
                        <button class="btn nav-link active me-2 mb-1" >Tất cả</button>
                    </li>
                </ul>
            </div>
            <div class="col-auto order-1 order-sm-2">
                <div class="pxp-company-dashboard-jobs-search mb-3">
                    <div class="pxp-company-dashboard-jobs-search-results me-3" id="tbl_info">0 tin tuyển dụng</div>
                    <div class="pxp-company-dashboard-jobs-search-search-form">
                        <div class="input-group">
                            <span class="input-group-text"><span type="button" class="fa fa-search btn_search_all"></span></span>
                            <input type="text" class="form-control" id="search_all" placeholder="Tìm kiếm...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tbl-data table-responsive">
            <table class="table table-hover align-start" id="tbl_job">
                <thead>
                    <tr>
                        <th>Tin tuyển dụng</th>
                        <th>Chiến dịch tuyển dụng</th>
                        <th>Toàn bộ thời gian hiển thị</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody class="align-start fw-normal">
                </tbody>
            </table>
            <div class="w-100">
                <div class="w-100 row ,-0 mt-2 mt-lg-3 justify-content-between align-items-center">
                    <div class="col-auto">
                        <nav class="mt-3 mt-sm-0" aria-label="jobs pagination">
                            <ul class="pagination pxp-pagination" id="job_paging">
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">1</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/pages/job.js" asp-append-version="true"></script>
}