@{
    Layout = "_Layout";
    ViewBag.Title = "Thông tin cá nhân";
    ViewBag.CurrentPage = "detail-user";
}
<style>
    #photo {
        width: 100px;
        height: 100px;
    }

    .pxp-single-candidate-hero-avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        flex-shrink: 0;
    }
</style>
<section class="pxp-single-candidate-hero pxp-cover" id="cover-photo">
    <div class="pxp-hero-opacity"></div>
    <div class="pxp-single-candidate-hero-caption">
        <div class="pxp-container">
            <div class="pxp-single-candidate-hero-content">
                <div class="pxp-single-candidate-hero-avatar" id="photo"></div>
                <div class="pxp-single-candidate-hero-name">
                    <h1 id="fullName"></h1>
                    <div class="pxp-single-candidate-hero-title" id="job-title"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-100">
    <div class="pxp-container">
        <div class="row">
            @*thông tin hồ sơ về trình độ*@
            <div class="col-lg-7 col-xl-8 col-xxl-9">
                <div class="pxp-single-candidate-content">
                    <div id="objective">
                        @*<h2>Mục tiêu</h2>
                        <p id="objective"></p>*@
                    </div>

                    <div id="skill" class="mt-4 mt-lg-5">
                        @*<h2>Kỹ năng</h2>
                        <div class="pxp-single-candidate-skills">
                            <ul class="list-unstyled">
                                <li>Phân Tích Tài chính</li>
                                <li>Kiến Thức Thuế</li>
                                <li>Kỹ Năng Giao Tiếp</li>
                                <li>Quản lý Dòng Tiền</li>
                                <li>Hiểu Biết Về Thị Trường Tài Chính</li>
                            </ul>
                        </div>*@
                    </div>
                    @*<div id="language" class="mt-4 mt-lg-5">
                        <h2>Ngôn ngữ</h2>
                        <div class="pxp-single-candidate-skills">
                            <ul class="list-unstyled">
                                <li>Tiếng Hàn</li>
                                <li>Tiếng Anh</li>
                                <li>Tiếng Trung</li>
                            </ul>
                        </div>
                    </div>*@

                    <div id="experience" class="mt-4 mt-lg-5">
                        @*<h2>Kinh nghiệm làm việc</h2>
                        <div class="pxp-single-candidate-timeline">
                            <div class="pxp-single-candidate-timeline-item">
                                <div class="pxp-single-candidate-timeline-dot"></div>
                                <div class="pxp-single-candidate-timeline-info ms-3">
                                    <div class="pxp-single-candidate-timeline-time"><span class="me-3">2018 - 2019</span></div>
                                    <div class="pxp-single-candidate-timeline-position mt-2">Chuyên viên Đầu tư Tài sản</div>
                                    <div class="pxp-single-candidate-timeline-company pxp-text-light">XYZ Bank</div>
                                    <div class="pxp-single-candidate-timeline-about mt-2 pb-4">
                                        Tư vấn và hỗ trợ khách hàng về các sản phẩm đầu tư tài chính như cổ phiếu, trái phiếu và quỹ đầu tư.
                                        Xây dựng và quản lý danh mục đầu tư cho các khách hàng cá nhân, đạt được lợi suất vượt trội so với chỉ số thị trường.
                                        Tham gia vào việc nghiên cứu và dự báo thị trường tài chính, từ đó đưa ra các khuyến nghị đầu tư.
                                    </div>
                                </div>
                            </div>
                            <div class="pxp-single-candidate-timeline-item">
                                <div class="pxp-single-candidate-timeline-dot"></div>
                                <div class="pxp-single-candidate-timeline-info ms-3">
                                    <div class="pxp-single-candidate-timeline-time"><span class="me-3">2016 - 2017</span></div>
                                    <div class="pxp-single-candidate-timeline-position mt-2">Nhân viên Kế toán</div>
                                    <div class="pxp-single-candidate-timeline-company pxp-text-light">LMN Startup</div>
                                    <div class="pxp-single-candidate-timeline-about mt-2 pb-4">
                                        Thực hiện các hoạt động kế toán hàng ngày, bao gồm nhập liệu và kiểm tra chứng từ tài chính.
                                        Lập báo cáo tài chính tháng và quý, đảm bảo tính chính xác và tuân thủ các quy định kế toán.
                                        Tham gia vào quá trình chuẩn bị cho kiểm toán tài chính cuối năm.
                                    </div>
                                </div>
                            </div>

                        </div>*@
                    </div>

                    <div id="education" class="mt-4 mt-lg-5">
                        @*<h2>Giáo dục và đào tạo</h2>
                        <div class="pxp-single-candidate-timeline">
                            <div class="pxp-single-candidate-timeline-item">
                                <div class="pxp-single-candidate-timeline-dot"></div>
                                <div class="pxp-single-candidate-timeline-info ms-3">
                                    <div class="pxp-single-candidate-timeline-time"><span class="me-3">2010 - 2015</span></div>
                                    <div class="pxp-single-candidate-timeline-position mt-2">Kinh Doanh Quốc Tế</div>
                                    <div class="pxp-single-candidate-timeline-company pxp-text-light">Trường Đại học kinh tế quốc dân</div>
                                    <div class="pxp-single-candidate-timeline-about mt-2 pb-4">Đạt điểm giỏi tốt nghiệp trường . Tham gia nhiệt tình các phong trào ở trường.</div>
                                </div>
                            </div>

                        </div>*@
                    </div>
                    <div id="certificate" class="mt-4 mt-lg-5">
                        @*<h2>Chứng chỉ</h2>
                        <div class="pxp-single-candidate-timeline">
                            <div class="pxp-single-candidate-timeline-item">
                                <div class="pxp-single-candidate-timeline-dot"></div>
                                <div class="pxp-single-candidate-timeline-info ms-3">
                                    <div class="pxp-single-candidate-timeline-time"><span class="me-3">2012</span></div>
                                    <div class="pxp-single-candidate-timeline-position mt-2">Chứng chỉ Quản lý Tài chính Cá Nhân</div>
                                    <div class="pxp-single-candidate-timeline-company pxp-text-light">Tổ chức Tài chính Quốc gia</div>
                                    <div class="pxp-single-candidate-timeline-about mt-2 pb-4">
                                        Chứng chỉ này chứng minh khả năng quản lý tài chính cá nhân, bao gồm quản lý ngân sách, đầu tư và lập kế hoạch tài chính.
                                    </div>
                                </div>
                            </div>
                            <div class="pxp-single-candidate-timeline-item">
                                <div class="pxp-single-candidate-timeline-dot"></div>
                                <div class="pxp-single-candidate-timeline-info ms-3">
                                    <div class="pxp-single-candidate-timeline-time"><span class="me-3">2014</span></div>
                                    <div class="pxp-single-candidate-timeline-position mt-2">Chứng chỉ Phân Tích Dữ Liệu</div>
                                    <div class="pxp-single-candidate-timeline-company pxp-text-light">Hiệp hội Phân tích Dữ liệu</div>
                                    <div class="pxp-single-candidate-timeline-about mt-2 pb-4">
                                        Trong thời đại số hóa, khả năng phân tích dữ liệu là vô cùng quan trọng. Chứng chỉ này chứng minh khả năng của bạn trong việc sử dụng dữ liệu để đưa ra quyết định kinh doanh.
                                    </div>
                                </div>
                            </div>

                        </div>*@
                    </div>
                    <div id="project" class="mt-4 mt-lg-5">
                        @*<h2>Dự án</h2>
                        <div class="pxp-single-candidate-timeline">
                            <div class="pxp-single-candidate-timeline-item">
                                <div class="pxp-single-candidate-timeline-dot"></div>
                                <div class="pxp-single-candidate-timeline-info ms-3">
                                    <div class="pxp-single-candidate-timeline-time"><span class="me-3">2012</span></div>
                                    <div class="pxp-single-candidate-timeline-position mt-2">Dự Án Tối Ưu Hóa Quy Trình Sản Xuất </div>
                                    <div class="pxp-single-candidate-timeline-company pxp-text-light">LMN Manufacturing</div>
                                    <div class="pxp-single-candidate-timeline-about mt-2 pb-4">
                                        Dự án tối ưu hóa quy trình sản xuất tập trung vào việc cải thiện hiệu suất, giảm thiểu thời gian chờ đợi và tăng năng suất. Đã thực hiện qua việc phân tích quy trình, xác định bottleneck và áp dụng các biện pháp cải tiến.
                                    </div>
                                </div>
                            </div>
                            <div class="pxp-single-candidate-timeline-item">
                                <div class="pxp-single-candidate-timeline-dot"></div>
                                <div class="pxp-single-candidate-timeline-info ms-3">
                                    <div class="pxp-single-candidate-timeline-time"><span class="me-3">2014</span></div>
                                    <div class="pxp-single-candidate-timeline-position mt-2">Dự Án Mở Rộng Thị Trường Xuất Khẩu</div>
                                    <div class="pxp-single-candidate-timeline-company pxp-text-light">PQR Company</div>
                                    <div class="pxp-single-candidate-timeline-about mt-2 pb-4">
                                        Dự án mở rộng thị trường xuất khẩu nhằm tìm kiếm cơ hội kinh doanh ở các thị trường nước ngoài. Bao gồm nghiên cứu thị trường, xây dựng mối quan hệ với đối tác thương mại và đáp ứng các yêu cầu về quy định nhập khẩu.
                                    </div>
                                </div>
                            </div>

                        </div>*@
                    </div>
                    <div id="honorAward" class="mt-4 mt-lg-5">
                        @*<h2>Danh dự và giải thưởng</h2>
                        <div class="pxp-single-candidate-timeline">
                            <div class="pxp-single-candidate-timeline-item">
                                <div class="pxp-single-candidate-timeline-dot"></div>
                                <div class="pxp-single-candidate-timeline-info ms-3">
                                    <div class="pxp-single-candidate-timeline-time"><span class="me-3">2017</span></div>
                                    <div class="pxp-single-candidate-timeline-position mt-2">Giải Thưởng "Nhà Tư Vấn Tài Chính Ưu Tú" - Hiệp Hội Tư Vấn Tài Chính </div>
                                    <div class="pxp-single-candidate-timeline-about mt-2 pb-4">Được công nhận về khả năng cung cấp tư vấn tài chính chất lượng cao và giúp khách hàng đạt được mục tiêu tài chính.</div>
                                </div>
                            </div>
                        </div>*@

                    </div>
                    <div id="activity" class="mt-4 mt-lg-5">
                        @*<h2>Hoạt động</h2>
                        <div class="pxp-single-candidate-timeline">
                            <div class="pxp-single-candidate-timeline-item">
                                <div class="pxp-single-candidate-timeline-dot"></div>
                                <div class="pxp-single-candidate-timeline-info ms-3">
                                    <div class="pxp-single-candidate-timeline-time"><span class="me-3">2017</span></div>
                                    <div class="pxp-single-candidate-timeline-position mt-2">Tham Gia Chương Trình Đào Tạo Lãnh Đạo </div>
                                    <div class="pxp-single-candidate-timeline-about mt-2 pb-4">Hoàn thành khóa đào tạo 6 tháng về kỹ năng lãnh đạo và quản lý nhóm, học hỏi về cách thúc đẩy sự hợp tác và đạt được mục tiêu chung.</div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>

            @*thông tin cá nhân cơ bản*@
            <div class="col-lg-5 col-xl-4 col-xxl-3">
                <div class="pxp-single-candidate-side-panel mt-5 mt-lg-0">
                    <div>
                        <div class="pxp-single-candidate-side-info-label pxp-text-light">Email</div>
                        <div class="pxp-single-candidate-side-info-data" id="email"></div>
                    </div>
                    <div class="mt-4">
                        <div class="pxp-single-candidate-side-info-label pxp-text-light">Địa chỉ</div>
                        <div class="pxp-single-candidate-side-info-data" id="location"></div>
                    </div>
                    <div class="mt-4">
                        <div class="pxp-single-candidate-side-info-label pxp-text-light">Số điện thoại</div>
                        <div class="pxp-single-candidate-side-info-data" id="phone"></div>
                    </div>
                </div>

                <div class="pxp-single-candidate-side-panel mt-4 mt-lg-5 d-none">
                    <h3>Contact Rebecca</h3>
                    <form class="mt-4">
                        <div class="mb-3">
                            <label for="contact-candidate-name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="contact-candidate-name" placeholder="Enter your name">
                        </div>
                        <div class="mb-3">
                            <label for="contact-candidate-email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="contact-candidate-email" placeholder="Enter your email address">
                        </div>
                        <div class="mb-3">
                            <label for="contact-candidate-message" class="form-label">Message</label>
                            <textarea class="form-control" id="contact-candidate-message" placeholder="Type your message here..."></textarea>
                        </div>
                        <a href="#" class="btn rounded-pill pxp-section-cta d-block">Send Message</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script>
        var candidateId = @ViewBag.candidateId;
    </script>
    <script type="text/javascript" src="/assets/js/pages/detail-profile.js" asp-append-version="true"></script>
}







