@using Jobi.Domain.Aggregates.JobCategory;
@model List<JobCategoryOnHomePageAggregates>;
@{
    Layout = null;
}
<style>

</style>
@if (Model != null)
{
    @foreach (var item in Model)
    {
        <div class="col-12 col-md-4 col-lg-3 col-xxl-2 pxp-categories-card-2-container">
            <a href="@Url.Action("AllSearchByCategory", "home", new{@danhmuc=@item.Id})" class="pxp-categories-card-2">
                <div class="pxp-categories-card-2-icon-container">
                    <div class="pxp-categories-card-2-icon">
                        <span class="@item.Icon"></span>
                    </div>
                </div>
                <div class="pxp-categories-card-2-title">@item.Name</div>
                <div class="pxp-categories-card-2-subtitle">@item.CountJob công việc</div>
            </a>
        </div>
    }
}
