@{
    Layout = null;
}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        color: #1a237e;
    }

    body {
        background-color: #f5f5f5;
    }

    button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

    .verify-code {
        display: flex;
        position: relative; 
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
    
    .verify-logo {
        position: absolute; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid #1a237e;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #1a237e transparent transparent transparent;
    }

    @@keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div class="verify-code">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    <img src='https://honghanh.dion.asia/images/Dion%20logo_wo_bg.png' alt='Logo' border='0' style='display: block; min-width: 48px; width: 200px; height: auto; top: 35%;' class="verify-logo">
    <h1>Đang xác thực ...</h1>
</div>
<script type="text/javascript">
    var cur_url = new URL(window.location.href);
    var urlParams = new URLSearchParams(cur_url.search);
    if (urlParams.has('code')){
        var code = urlParams.get('code');
        window.opener.postMessage(code, '*');
    }
</script>