@{
    ViewData["Title"] = "Tìm kiếm tất cả những công ty";
    ViewBag.IsHomePage = false;
}
<style>
    .hover-card:hover {
        /* border: 1px solid gray !important; */
        box-shadow: #f4c6345e 0px 5px 15px;
    }

    #description img {
        display: none;
    }

    #description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    #location, #activity {
        border-radius: 30px;
    }

        #location .input-group-text,
        #activity .input-group-text {
            border-radius: 30px;
            border: none;
            background-color: transparent;
            position: absolute;
            top: calc((100% - 16px)/2);
            left: 20px;
            padding: 0;
            z-index: 1;
        }

    #select2-search-location-container,
    #select2-search-activity-container {
        padding-left: 30px;
        border-radius: 30px;
    }

    .row {
        margin-bottom: 0px !important;
    }

    .pxp-nav.pxp-light > ul > li > a {
        color: #000;
    }

    .pxp-logo.pxp-light > a {
        color: #000;
    }

    .pxp-user-nav-name {
        color: #000;
    }

    .pxp-user-nav-dropdown > .dropdown-toggle::after {
        margin-left: 7px;
        border-top-color: #000;
    }

    .select2-container .select2-selection {
        border: 0px;
    }

    .pxp-companies-card-1-company-logo {
        background-repeat: no-repeat;
    }

    /*skeleton*/
    .image-skeleton-loading, .title-skeleton-loading, .read-more-skeleton-loading {
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        border-radius: 5px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    .title-skeleton-loading {
        height: 20px;
        margin-bottom: 5px;
    }

    .read-more-skeleton-loading {
        height: 20px;
    }

    .image-skeleton-loading {
        height: 80px;
        width: 80px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }



    @@keyframes shine {
        to {
            background-position-x: -200%;
        }
    }

    .skeleton {
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    .skeleton-body {
        height: 358px !important
    }

    .skeleton-filter {
        height: 20px !important
    }

    .hash-tag {
        background-color: rgb(169 169 169 / 41%);
        color: #000000;
        font-size: 13px;
        display: inline-block;
        border-radius: 3px;
        padding: 3px 8px;
        text-decoration: none;
        margin-right: 4px;
        margin-bottom: 4px;
        transition: var(--pxpHoverTransition);
        transition-property: background-color, color
    }

    .location-detail {
        padding-right: 18px !important;
        padding-inline-start: 3px;
    }

    .btn-add-candidate {
        border-radius: 10px;
        border: 1px solid #000;
        background: #FFF;
        transition: background-color 0.3s, color 0.3s;
        padding: 10px 15px;
        color: #2E2165;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

        .btn-add-candidate.unfollow {
            border-radius: 10px;
            border: 1px solid #F4C634;
            background: #F4C634;
        }

    .line-clamp-5{
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .job-container{
        width: 100%;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        margin-right: auto;
        margin-left: auto;
    }
</style>
<section class="pxp-page-header-simple d-flex align-items-center m-l-r-4pc" style="background-image: url(/assets/images/Backgrond-jobi.png);">

    <div class="pxp-container">
        <h1 class="text-center header-title">Tìm kiếm công ty</h1>
        <div class="pxp-hero-subtitle text-center header-subtitle">Cơ hội làm việc cho những công ty tốt nhất</div>
    </div>
</section>

<section class="mt-32px mb-32px">
    <div class="job-container">
        <div class="row m-l-r-4pc">
            <div class="col-lg-5 col-xl-4 col-xxl-3">
                <div class="pxp-companies-list-side-filter side-filter-card">
                    <div class="pxp-list-side-filter-header d-flex d-lg-none">
                        <div class="pxp-list-side-filter-header-label">Tìm kiếm công ty</div>
                        <a role="button"><span class="fa fa-sliders"></span></a>
                    </div>
                    <div class="mt-4 mt-lg-0 d-lg-block pxp-list-side-filter-panel">
                        <h3 class="text-center filter-title">Tìm kiếm theo từ khóa</h3>
                        <div class="mt-2 mt-lg-3">
                            <div class="input-group">
                                <span class="input-group-text"><span class="fa fa-search"></span></span>
                                <input id="search-all-company" type="text" class="form-control" placeholder="Tên công ty">
                            </div>
                        </div>

                        <h3 class="mt-4 mt-lg-4 text-center filter-title">Địa điểm</h3>
                        <div id="location" class="mt-2 mt-lg-3 filter-select-group" style="position:relative">
                            <span class="input-group-text"><span class="fa fa-map-marker"></span></span>
                            <select class="form-select" id="search-location"></select>
                        </div>

                        <h3 class="mt-4 mt-lg-4 text-center filter-title ">Lĩnh vực hoạt động</h3>
                        <div id="activity" class="mt-2 mt-lg-3 filter-select-group" style="position:relative">
                            <span class="input-group-text"><span class="fa fa-cube"></span></span>
                            <select class="form-select" id="search-activity"></select>
                        </div>

                        <h3 class="mt-4 mt-lg-4 text-center filter-title">Quy mô công ty</h3>
                        <div id="company-size" class="list-group mt-2 mt-lg-3">
                            @*<label class="list-group-item d-flex justify-content-between align-items-center pxp-checked skeleton skeleton-filter">
                            <span class="d-flex">
                            <input class="form-check-input me-2" type="checkbox" value="" checked>
                            50 - 100 người
                            </span>
                            <span class="badge rounded-pill">34</span>
                            </label>*@
                            <div class="list-group-item d-flex justify-content-between align-items-center mt-2 mt-lg-3 skeleton skeleton-filter"></div>
                            <div class="list-group-item d-flex justify-content-between align-items-center mt-2 mt-lg-3 skeleton skeleton-filter"></div>
                            <div class="list-group-item d-flex justify-content-between align-items-center mt-2 mt-lg-3 skeleton skeleton-filter"></div>
                            <div class="list-group-item d-flex justify-content-between align-items-center mt-2 mt-lg-3 skeleton skeleton-filter"></div>
                            <div class="list-group-item d-flex justify-content-between align-items-center mt-2 mt-lg-3 skeleton skeleton-filter"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-xl-8 col-xxl-9">
                <div class="pxp-companies-list-top mt-4 mt-lg-0">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-9">
                            <h2 id="pageInfo" class="load-data-info-page"></h2>
                        </div>
                        <div class="col-3">
                            <select class="form-select" id="selectOrder">
                                <option value="desc">Mới nhất</option>
                                <option value="asc">Cũ nhất</option>
                            </select>
                        </div>
                    </div>
                </div>



                <div class="row" id="section-company">
                    @for (var i = 0; i < 6; i++)
                    {
                        <div class="col-md-6 col-lg-12 col-xl-6 col-xxl-4 pxp-companies-card-1-container skeleton-body">
                            <div class="pxp-companies-card-1 pxp-has-border skeleton">
                                <div class="pxp-companies-card-1-top">
                                    <a href="single-company-1.html" class="pxp-companies-card-1-company-logo" style="background-image: url();"></a>
                                    <a href="single-company-1.html" class="pxp-companies-card-1-company-name"></a>
                                    <div class="pxp-companies-card-1-company-description pxp-text-light"></div>
                                </div>
                                <div class="pxp-companies-card-1-bottom">
                                    <a href="jobs-list-1.html" class="pxp-companies-card-1-company-jobs"></a>
                                </div>
                            </div>
                        </div>
                    }
                    @*<div class="col-md-6 col-lg-12 col-xl-6 col-xxl-4 pxp-companies-card-1-container">
                    <div class="pxp-companies-card-1 pxp-has-border">
                    <div class="pxp-companies-card-1-top">
                    <a href="single-company-1.html" class="pxp-companies-card-1-company-logo" style="background-image: url(assets/images/company-logo-1.png);"></a>
                    <a href="single-company-1.html" class="pxp-companies-card-1-company-name">Illuminate Studio</a>
                    <div class="pxp-companies-card-1-company-description pxp-text-light">Is an American multinational computer software company. Incorporated in Delaware and headquartered in San Jose, California, it has historically specialized in software for the creation.</div>
                    </div>
                    <div class="pxp-companies-card-1-bottom">
                    <a href="jobs-list-1.html" class="pxp-companies-card-1-company-jobs">10 jobs</a>
                    </div>
                    </div>
                    </div>*@
                </div>

                <div class="row mt-32px justify-content-between align-items-center">
                    <div class="col-auto">
                        <nav class="mt-3 mt-sm-0" aria-label="Companies pagination">
                            <ul class="pagination pxp-pagination" id="pagination-company">
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">1</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-auto d-none">
                        <a href="#" class="btn rounded-pill pxp-section-cta mt-3 mt-sm-0">Hiển thị thêm<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{

    <script>
        var searchKeyword = "@Html.Raw(ViewBag.Keyword)";
        var searchLocation = @Html.Raw(ViewBag.Location);
                                                                //var searchCategory = @Html.Raw(ViewBag.Category);
    </script>
    <script src="~/assets/js/pages/find-all-company.js" asp-append-version="true"></script>
}