@{
    Layout = "_LayoutDashBoard";
    ViewBag.Title = "Công ty đang theo dõi";
    ViewBag.CurrentPage = "company-follow";
}
@section Headers{
    <link href="~/assets/css/pages/candidatefollowcompany.css" rel="stylesheet" asp-append-version="true" />
}
<h1>Công ty đang theo dõi</h1>
@*<p class="pxp-text-light">Danh sách chi tiết các công việc đã xem của bạn.</p>*@
<div class="mt-4 mt-lg-5">
    <div class="row justify-content-between align-content-center">
        <div class="col-12 order-1 order-sm-2">
            <div class="pxp-candidate-dashboard-jobs-search mb-3">
                <div class="pxp-candidate-dashboard-jobs-search-results me-3"></div>
                <div class="pxp-candidate-dashboard-jobs-search-search-form">
                    <div class="input-group">
                        <span class="input-group-text"><span class="fa fa-search"></span></span>
                        <input type="text" class="form-control" id="table_search_all" placeholder="Tìm kiếm...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover align-middle" id="table_candidate_follow_company">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Quy mô công ty</th>
                    <th>Số lượng việc làm</th>
                    <th>Logo</th>
                    <th>Ngày tạo</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="w-100">
            <div class="w-100 row ,-0 mt-2 mt-lg-3 justify-content-between align-items-center">
                <div class="col-auto">
                    <nav class="mt-3 mt-sm-0" aria-label="Candidates pagination">
                        <ul class="pagination pxp-pagination" id="table_candidate_follow_company_paging">
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">1</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-auto d-none">
                    <a href="#" class="btn rounded-pill pxp-section-cta mt-3 mt-sm-0">Show me more<span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/assets/js/pages/get-list-candidate-follow-company.js" asp-append-version="true"></script>
}
