@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_LayoutDashBoard";
    ViewBag.Title = "Lịch phỏng vấn";
}

<style type="text/css">

    .fc .fc-button-primary {
        background-color: #4d6eeb !important;
        border-color: #4d6eeb !important;
        /*color: var(--color-white) !important;*/
    }

        .fc .fc-button-primary:hover,
        .fc .fc-button-primary:focus,
        .fc .fc-button-primary:active{
            background-color: var(--color-primary) !important;
            border-color: var(--color-primary) !important;
        }
        .fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active{
            background-color: var(--color-primary) !important;
            border-color: var(--color-primary) !important;
            /*color: var(--color-white) !important;*/
        }

    .modal-backdrop {
        position: inherit !important;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100vw;
        height: 100vh;
        background-color: #000;
    }

    .rbt-team-modal {
        background: rgb(0 0 0 / 50%) !important;
    }

    .modal-title {
        top: 20px;
        left: 20px;
        position: absolute;
    }

    .modal-content {
        min-width: 700px !important;
        border-radius: 10px !important;
    }

    #btnCopyLinkEvent i {
        padding-left: 0px !important;
    }

    .fc .fc-toolbar-title {
        font-size: 18px;
    }

    @@media (min-width: 768px) {

        .fc-daygridmonth-view .fc-scroller {
            overflow: hidden !important;
        }
    }

    @@media (max-width: 1199.98px) {
        .fc .fc-toolbar{
            flex-direction: column !important;
        }
    }

    @@media (max-width: 767.98px) {
        .modal-content{
            width: 100% !important;
        }
    }

    .fc-toolbar-title {
        font-size: 30px !important;
    }
    .rbt-round-btn i {
        margin-right: 0;
    }

    p {
        margin-bottom: 0px;
    }

    .inner{
        margin: 0 30px;
    }

    #eventTime {

    }

</style>
<!-- Start MyEvent  -->
<div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
    <div class="content">
        <div class="section-title">
            <h4 class="rbt-title-style-3">Lịch phỏng vấn</h4>
        </div>
        <div class="row g-5" id="calendar">
        </div>

    </div>
</div>
<!-- End MyEvent  -->

<div class="rbt-team-modal modal fade rbt-modal-default" id="eventModal" tabindex="-1" aria-labelledby="eventModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center">
        <div class="modal-content w-800">
            <div class="modal-header mb--20">
                <button type="button" class="rbt-round-btn d-none" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa fa-x"></i>
                </button>
                <h5 class="modal-title">Tên cuộc phỏng vấn</h5>               
            </div>
            <div class="modal-body mt-5 ml-5">
                <div class="inner">
                    <div class="row g-5 row--30 align-items-center">
                        <div class="col-md-12">
                            <span class="rbt-badge-6 " id="eventStatus"></span>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="d-flex align-items-center" id="eventTimeDiv">
                                <i class="fa fa-regular fa-calendar me-3"></i>

                                <p id="eventTime" class="ms-1"></p>

                            </div>

                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="rbt-button">
                                <button class="rbt-btn btn-sm" id="btnLinkEvent" title="Tham gia">
                                </button>

                                <button class="rbt-btn btn-sm" id="btnCopyLinkEvent" title="Sao chép đường dẫn">
                                    <i class="fa fa-copy"></i>
                                </button>
                            </div>
                            <div class="d-flex align-items-center mt-3" id="linkDiv">
                                <i class="fa fa-link me-3"></i>


                                <p id="eventLink"></p>

                            </div>

                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="d-flex align-items-center" id="eventLocationDiv">
                                <i class="fa fa-solid fa-location-dot me-3"></i>
                                <p id="eventLocation" class="ms-2"></p>

                            </div>

                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="d-flex align-items-center" id="eventDescriptionDiv">
                                <i class="fa fa-align-right me-3"></i>
                                <p id="eventDescription" class="ms-1"></p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="rbt-btn btn-sm bg-coral-opacity" data-bs-dismiss="modal" aria-label="Close">Đóng</button>

            </div>
        </div>
    </div>
</div>

<script>
    var DONE = @InterviewStatusId.DONE;
    var NOT_YET = @InterviewStatusId.NOT_YET;
    var CANCEL = @InterviewStatusId.CANCEL;
</script>
<script src="~/assets/js/pages/interview-schedule.js" asp-append-version="true"></script>
<!--Full calendar-->
<script src="~/assets/js/index.global.min.js"></script>
<script src="~/assets/js/vi.global.min.js"></script>
