@{
    ViewData["Title"] = "Bạn chưa đăng nhập tài khoản";
    ViewBag.IsHomePage = false;
}
<!doctype html>
<html lang="en" class="pxp-root">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BestCV - Chưa đăng nhập</title>

    <link rel="shortcut icon" href="~/assets/images/logo-title.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/poppins.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">

    <!-- jQuery JS -->
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>

    <!-- Sweet Alert -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css" rel="stylesheet">

</head>
<body>
    <div class="pxp-preloader"><span>Loading...</span></div>

    <header class="pxp-header fixed-top">
        <div class="pxp-container">
            <div class="pxp-header-container">
                <div class="pxp-logo">
                    <a href="index.html" class="pxp-animate"><span style="color: var(--pxpMainColor)">j</span>obster</a>
                </div>
            </div>
        </div>
    </header>
    <section class="mt-100 pxp-no-hero">
        <div class="pxp-container">
            <h2 class="pxp-section-h2 text-center">Bạn chưa đăng nhập</h2>
            <p class="pxp-text-light text-center">Vui lòng đăng nhập để tiếp tục sử dụng tính năng</p>

            <div class="pxp-404-fig text-center mt-4 mt-lg-5">
                <img src="/assets/images/service-2-icon.png" alt="Page not found">
            </div>

            <div class="mt-4 mt-lg-5 text-center">
                <a href="@Url.Action("SignIn","Home")" class="btn rounded-pill pxp-section-cta">Đăng nhập<span class="fa fa-angle-right"></span></a>
            </div>
        </div>
    </section>


    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/nav.js"></script>
    <script src="~/assets/js/chart.min.js"></script>
    <script src="~/assets/js/main.js"></script>

    <!-- Moment -->
    @*<script src="~/js/moment-with-locales.js"></script>*@

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>

    <!-- Confetti -->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>


</body>
</html>