@{
    Layout = null;
}

<!doctype html>
<html lang="en" class="pxp-root">
    
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="~/images/logo-title.png" type="image/x-icon">
        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/css/animate.css">
        <link rel="stylesheet" href="~/css/poppins.css"/>
        <link rel="stylesheet" href="~/css/style.css">

        <!-- jQuery JS -->
        <script src="~/js/jquery-3.4.1.min.js"></script>

        <!-- Sweet Alert -->
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css" rel="stylesheet">

        <style>
        #loading {
            width: 100vw;
            height: 100vh;
            position: fixed;
            inset: 0;
            z-index: 999999;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(0 0 0 / 70%);
            visibility: hidden;
        }

            #loading.show {
                visibility: visible;
            }

        .lds-ring {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }

            .lds-ring div {
                box-sizing: border-box;
                display: block;
                position: absolute;
                width: 64px;
                height: 64px;
                margin: 8px;
                border: 8px solid #2f57ef;
                border-radius: 50%;
                animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                border-color: #2f57ef transparent transparent transparent;
            }

                .lds-ring div:nth-child(1) {
                    animation-delay: -0.45s;
                }

                .lds-ring div:nth-child(2) {
                    animation-delay: -0.3s;
                }

                .lds-ring div:nth-child(3) {
                    animation-delay: -0.15s;
                }

        @@keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

            .fa.fa-eye, .fa.fa-eye-slash {
                right: 50px !important;
                cursor: pointer;
            }
        </style>

        <title>BestCV - Đăng nhập</title>
    </head>
    <body>
        <div class="pxp-preloader"><span>Loading...</span></div>

        <header class="pxp-header fixed-top">
            <div class="pxp-container">
                <div class="pxp-header-container">
                    <div class="pxp-logo">
                    <a href="/" class="pxp-animate"><img src="~/images/logo-1.png" width="100" /></a>
                    </div>                   
                </div>
            </div>
        </header>

        <section class="pxp-hero vh-100" style="background-color: var(--pxpMainColorLight);">
            <div class="row align-items-center pxp-sign-hero-container">
                <div class="col-xl-6 pxp-column">
                    <div class="pxp-sign-hero-fig text-center pb-100">
                        <img src="~/images/signin-big-fig.png" alt="Đăng nhập">
                        <h1 class="mt-4 mt-lg-5">Chào mừng <br>bạn đã quay trở lại!</h1>
                    </div>
                </div>
                <div class="col-xl-6 pxp-column pxp-is-light">
                    <div class="pxp-sign-hero-form pb-100">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-xl-8 col-xxl-6">
                                <div class="pxp-sign-hero-form-content">
                                    <h5 class="text-center">Đăng nhập</h5>
                                    <form class="mt-4">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="pxp-signin-page-email" placeholder="Email address">
                                            <label for="pxp-signin-page-email">Email hoặc số điện thoại</label>
                                            <span class="fa fa-user"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" id="pxp-signin-page-password" placeholder="Password">
                                            <label for="pxp-signin-page-password">Mật khẩu</label>
                                            <span class="fa fa-eye d-none"></span>
                                            <span class="fa fa-eye-slash d-none"></span>
                                            <span class="fa fa-lock"></span>
                                        </div>
                                        <a href="#!" class="btn rounded-pill pxp-sign-hero-form-cta" id="btnSignIn">Đăng nhập</a>
                                        <div class="mt-4 text-center pxp-sign-hero-form-small">
                                        <a id="btn-forgot-password" href="#" class="pxp-modal-link">Quên mật khẩu</a>
                                        </div>
                                        <div class="mt-4 text-center pxp-sign-hero-form-small">
                                            Chưa có tài khoản? <a href="@Url.Action("SignUp","Account")">Đăng ký ngay</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <div id="loading">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>

        <div class="modal fade pxp-user-modal" id="pxp-forgot-password-modal" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="pxp-user-modal-fig text-center">
                            <img src="~/images/signin-fig.png" alt="Sign in">
                        </div>
                        <h5 class="modal-title text-center mt-4" >Quên mật khẩu ?</h5>
                        <form class="mt-4">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="Email" placeholder="Email ">
                                <label for="pxp-signin-email">Email </label>
                                <span class="fa fa-envelope"></span>
                            </div>
                         @*   <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="pxp-signin-password" placeholder="Password">s
                                <label for="pxp-signin-password">Password</label>
                                <span class="fa fa-lock"></span>
                            </div>*@
                        <a href="#" class="btn rounded-pill pxp-modal-cta" id="btn-submit">Gửi email</a>
                          @*  <div class="mt-4 text-center pxp-modal-small">
                                <a href="#" class="pxp-modal-link">Forgot password</a>
                            </div>*@
                            <div class="mt-4 text-center pxp-modal-small">
                            Chưa có tài khoản? <a role="button" class="" href="@Url.Action("SignUp", "Account")">Đăng ký ngay</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

     


        <script>
            var DefaultAPIURL = "@ViewBag.DefaultAPIURL";
        </script>

        <script src="~/js/jquery-3.4.1.min.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/nav.js"></script>
        <script src="~/js/main.js"></script>

        <!-- Sweet Alert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>

    <script src="~/js/pages/sign-in.js" asp-append-version="true"></script>
    <script src="~/js/pages/forgot-password.js" asp-append-version="true"></script>
    </body>

</html>
